head {

	font-family: Arial, Helvetica, sans-serif;
}

 a:visited, a {

 	color:red;
}

h1 {

	font-size:140px;
	padding-left:10%;
	font-weight:lighter;
	/*color:#00FCFF;*/
	color:blue;
}

.userIn {

	font-size:30px;
	border-style:solid;
	padding:10px;
}

body {

	font-family: Arial, Helvetica, sans-serif;
	background-color:#E4E4E4;
	color:blue;
}


.album {
	color:blue;
	padding-bottom:300px;
}

.album > td {

	padding-top:2%;
	padding-bottom:2%;
}

.album-title {

	font-weight:bold!important;
}

.album-info {

	width:100%;
	padding-left:10%;
	padding-right:10%;
}
