{% extends 'base.html' %}


{% block head %}
<h1>Helpr

	<form style="height:100px" action="/" method="POST">
		<input class ="userIn" type="text" name="artist" id="artist" placeholder="Artist name">
		<input class ="userIn" type="text" name="title" id="title" placeholder="Album title">
		<input class ="userIn" style="color:red; border-color:red;" type="submit" name="start" value="ADD">
	</form></h1>	



{% endblock %}

{% block body %}

<div class="content">



	<table class="album-info">
	  <tr style='background-color:#26221e; color:white'>
	    <th>ALBUM</th>
	    <th>THEMES</th>
	    <th>MOODS</th>
	    <th>SIMILAR</th`>
	  </tr>
	  	{% for album in albumlist %}
			<tr class='album'>
			    <td class="album-title">
			    	<a href="https://allmusic.com/album/{{album.id}}"> {{album.artist}} - {{album.title}} </a>
			    </td>
			    <td style='width:20%'> 	    	
			    	{% for id,theme in themeDict[album.title] %}
			    		<a href="https://allmusic.com/theme/{{id}}">{{theme}}</a>{{ "," if not loop.last }}
			    	{% endfor %}
			    </td>
			    <td style='width:20%'>
			    	{% for id,mood in moodDict[album.title] %}
			    		<a href="https://allmusic.com/mood/{{id}}">{{mood}}</a>{{ "," if not loop.last }}
			    	{% endfor %}
			    </td>
			    <td style='width:10%'>
			    	<a href="">{{similarCountDict[album.id]}} similar albums</a>
			    </td>
			</tr>
	    {% endfor %}
	</table>


</div>

{% endblock %}
